<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="Public/css/style.css">
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="node_modules/font-awesome/css/font-awesome.css">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
</head>

<body ng-app="tipApp" ng-controller="tipController">

    <div>
        <button type="submit" class="btn btn-success" ng-click="getStocks()">Get Results</button>
    </div>


    <div class="row text-center">
        <div class="col-lg-4 col-md-6 col-sm-12 hero-feature" ng-repeat="stock in allStocks">
            <div class="card card-block">
                <h4 class="card-title">{{stock.ticker}}</h4>
                <p class="card-text">{{stock.label}}</p>
                <p class="card-text">{{stock.uid}}</p>
                <p class="card-text">{{stock.value}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <script src="node_modules/angular/angular.js"></script>
    <script src="Public/js/app.js"></script>
    <script src="Public/js/controller/tipController.js"></script>
    <script src="Public/js/service/tipService.js"></script>
</body>

</html>