/*.tipCard{
width: 250px;
height: 100px;
border: solid 4px;
background-color: #558;
margin-top: 10px;
margin-bottom: 10px;
}*/

.myCanvas:hover { 
    background-color: palegreen;
}

.myCanvas {
width: 250px;
height: 100px;
border: solid 4px;
background-color: #558;
margin-top: 10px;
margin-bottom: 10px;
}

.btn{
    white-space:normal !important;
    word-wrap:break-word; 
}